<section class="container block">
    <div class="accordian-heading">
      <span><iconify-icon icon="bi:patch-question-fill"></iconify-icon></span>
      <h2>سؤالات متداول</h2>
    </div>

    <div class="accordion">
      <header class="accordion__header">
        <div class="accordion__question">
          <!-- <span
            ><iconify-icon
              icon="fluent:tag-question-mark-32-regular"
            ></iconify-icon
          ></span> -->
          <span
            ><iconify-icon icon="iconoir:chat-bubble-question"></iconify-icon
          ></span>

          <h3>چگونه می‌توانم راننده تپسی شوم؟</h3>
        </div>
        <!-- <span><iconify-icon icon="fluent:chevron-up-12-filled"rotate="180deg" ></iconify-icon></span> -->
        <!-- <span><iconify-icon icon="jam:chevron-circle-up-f" rotate="180deg"></iconify-icon></span> -->
        <span
          ><iconify-icon
            icon="fa-solid:chevron-circle-down"
            width="18"
            height="18"
            rotate="90deg"
          ></iconify-icon
        ></span>
      </header>
      <div class="accordion__content">
        <p>
          <b
            >برای پیوستن به ناوگان تپسی، از یکی از راه‌های زیر اقدام کنید :</b
          >
        </p>
        <ul>
          <li>
            ثبت نام <b>غیرحضوری و آنلاین</b> در عرض کمتر از 10 دقیقه، با ورود
            به صفحه ثبت نام راننده
          </li>
          <li>مراجعه <b>حضوری</b> به بازاریابان میدانی در سطح شه</li>
          <li>تماس با شماره تلفن <b>1630</b> و ثبت‌نام غیرحضور</li>
        </ul>
      </div>
    </div>
    <div class="accordion">
      <header class="accordion__header">
        <div class="accordion__question">
          <!-- <span
            ><iconify-icon
              icon="fluent:tag-question-mark-32-regular"
            ></iconify-icon
          ></span> -->
          <span
            ><iconify-icon icon="iconoir:chat-bubble-question"></iconify-icon
          ></span>

          <h3>معرفی راننده جدید در تپسی چگونه است؟</h3>
        </div>
        <!-- <span><iconify-icon icon="fluent:chevron-up-12-filled"rotate="180deg" ></iconify-icon></span> -->
        <!-- <span><iconify-icon icon="jam:chevron-circle-up-f" rotate="180deg"></iconify-icon></span> -->
        <span
          ><iconify-icon
            icon="fa-solid:chevron-circle-down"
            width="18"
            height="18"
            rotate="90deg"
          ></iconify-icon
        ></span>
      </header>
      <div class="accordion__content">
        <p>
          به ازای <b>هر سفیر (راننده) </b> که به تپسی معرفی می‌کنید،
          <b>پاداش</b> دریافت می‌کنید. از طریق صفحه معرفی سفیر اقدام کنید.
        </p>
      </div>
    </div>
    <div class="accordion">
      <header class="accordion__header">
        <div class="accordion__question">
          <!-- <span
            ><iconify-icon
              icon="fluent:tag-question-mark-32-regular"
            ></iconify-icon
          ></span> -->
          <span
            ><iconify-icon icon="iconoir:chat-bubble-question"></iconify-icon
          ></span>

          <h3>نحوه واریز اعتبار تپسی به چه صورت است؟</h3>
        </div>
        <!-- <span><iconify-icon icon="fluent:chevron-up-12-filled"rotate="180deg" ></iconify-icon></span> -->
        <!-- <span><iconify-icon icon="jam:chevron-circle-up-f" rotate="180deg"></iconify-icon></span> -->
        <span
          ><iconify-icon
            icon="fa-solid:chevron-circle-down"
            width="18"
            height="18"
            rotate="90deg"
          ></iconify-icon
        ></span>
      </header>
      <div class="accordion__content">
        <p>
          <b>
            تسویه‌حساب تپسی به دو شکل روزانه و لحظه‌ای است که به شرح زیر
            است:<br
          /></b>
          <b> تسویه روزانه:</b> <br />هنگامی‌که شما شماره شبای خود را وارد
          نرم‌افزار سفیران تپسی می‌کنید، درآمد شما، پس از پایان روز، توسط تپسی
          به‌حسابتان واریز می‌شود.<br />
          <b> تسویه لحظه‌ای:</b><br />
          چنانچه شماره شبای شما مربوط به یکی از بانک‌های پاسارگاد، سامان، ملی،
          تجارت، صادرات و ملت باشد شما با فعال‌کردن گزینه تسویه روزانه درون
          نرم‌افزار خود می‌توانید تا 5 مرتبه در روز از امکان تسویه اعتبار در
          لحظه استفاده کنید.
        </p>
      </div>
    </div>
    <div class="accordion">
      <header class="accordion__header">
        <div class="accordion__question">
          <!-- <span
            ><iconify-icon
              icon="fluent:tag-question-mark-32-regular"
            ></iconify-icon
          ></span> -->
          <span
            ><iconify-icon icon="iconoir:chat-bubble-question"></iconify-icon
          ></span>

          <h3>نحوه پرداخت هزینه سفر به چه صورت است؟</h3>
        </div>
        <!-- <span><iconify-icon icon="fluent:chevron-up-12-filled"rotate="180deg" ></iconify-icon></span> -->
        <!-- <span><iconify-icon icon="jam:chevron-circle-up-f" rotate="180deg"></iconify-icon></span> -->
        <span
          ><iconify-icon
            icon="fa-solid:chevron-circle-down"
            width="18"
            height="18"
            rotate="90deg"
          ></iconify-icon
        ></span>
      </header>
      <div class="accordion__content">
        <p>
          هزینه هر سفر تپسی به دو صورت <b>نقدی یا اعتباری</b> (از طریق
          نرم‌افزار) و به انتخاب مسافر به شما پرداخت می‌شود.
        </p>
      </div>
    </div>
    <div class="accordion">
      <header class="accordion__header">
        <div class="accordion__question">
          <!-- <span><iconify-icon icon="fluent:tag-question-mark-32-regular"></iconify-icon></span> -->
          <span
            ><iconify-icon icon="iconoir:chat-bubble-question"></iconify-icon
          ></span>

          <h3>شرایط لغو سفر به چه صورت است؟</h3>
        </div>
        <!-- <span><iconify-icon icon="fluent:chevron-up-12-filled"rotate="180deg" ></iconify-icon></span> -->
        <!-- <span><iconify-icon icon="jam:chevron-circle-up-f" rotate="180deg"></iconify-icon></span> -->
        <span
          ><iconify-icon
            icon="fa-solid:chevron-circle-down"
            width="18"
            height="18"
            rotate="90deg"
          ></iconify-icon
        ></span>
      </header>
      <div class="accordion__content">
        <p>
          هر <b>راننده (سفیر)</b> تپسی در طول روز می‌تواند<b> 2 مرتبه</b> از
          گزینه لغو سفر استفاده کند و چنانچه <b>مسافر</b> هم در مقصد خود حاضر
          نشود<b> 2 مرتبه </b> دیگر امکان استفاده از این گزینه را دارد که در
          مجموع 4 مرتبه خواهد بود.
          <b
            >در صورت اقدام به لغو سفر بیشتر به‌ازای هر مرتبه مبلغ 2000 تومان
            از اعتبار راننده (سفیر) کسر خواهد شد.</b
          >
        </p>
      </div>
    </div>
  </section>