<div class="cities-container">
  <img src="/Assets/images/iran-map.svg" alt="" />
  <div class="section-cities container">
    <h2>تپسـی در ایـران</h2>
    <div class="cities-wrapper">
      <div class="city">
        <h3 class="fa-name">تهران</h3>
        <h3 class="en-name">Tehran</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">کرج</h3>
        <h3 class="en-name">Karaj</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">مشهد</h3>
        <h3 class="en-name">Mashhad</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">اصفهان</h3>
        <h3 class="en-name">Isfahan</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">شیراز</h3>
        <h3 class="en-name">Shiraz</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">ارومیه</h3>
        <h3 class="en-name">Urmia</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">لاهیجان</h3>
        <h3 class="en-name">Lahijan</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">رشت</h3>
        <h3 class="en-name">Rasht</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">انزلی</h3>
        <h3 class="en-name">Anzali</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">تبریز</h3>
        <h3 class="en-name">Tabriz</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">ساری</h3>
        <h3 class="en-name">Sari</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">یزد</h3>
        <h3 class="en-name">Yazd</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">کرمان</h3>
        <h3 class="en-name">Kerman</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">قم</h3>
        <h3 class="en-name">Qom</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">اهواز</h3>
        <h3 class="en-name">Ahvaz</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">بابل</h3>
        <h3 class="en-name">Babol</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">قائم شهر</h3>
        <h3 class="en-name">QaemShahr</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">آمل</h3>
        <h3 class="en-name">Amol</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">کرمانشاه</h3>
        <h3 class="en-name">Kermanshah</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">گرگان</h3>
        <h3 class="en-name">Gorgan</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">قزوین</h3>
        <h3 class="en-name">Qazvin</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">اراک</h3>
        <h3 class="en-name">Arak</h3>
      </div>
      <div class="city">
        <h3 class="fa-name">نیشابور</h3>
        <h3 class="en-name">Neyshabur</h3>
      </div>
    </div>
  </div>
</div>
