<footer class="main-footer">
  <div class="container footer">
    <div class="footer__item">
      <div class="footer__logo">
        <img src="/Assets/images/logo2.svg" alt="" />
        <p class="bio1">اپلیکیشن درخواست خودرو و پیک</p>
        <p class="bio2">
          تمام حقوق مادی و معنوی <br />
          این وبسایت متعلق به تپسی است.<br />
        </p>
      </div>
    </div>
    <div class="footer__item">
      <div class="footer_item">
        <h6>تپسی</h6>
        <a href="">وبلاگ تپسی</a>
        <a href="">فرصت شغلی</a>
        <a href="">تماس با ما</a>
        <a href="">لوگو و هویت سازمانی </a>
        <a href="">معرفی راننده به تپسی </a>
      </div>
    </div>
    <div class="footer__item">
      <div class="footer_item">
        <h6>مسافران</h6>
        <a href="">دانلود اپ مسافر </a>
        <a href="">نسخه وب تپسی </a>
        <a href="">پرسش‌های متداول مسافران </a>
        <a href="">شرایط و قوانین مسافران </a>
        <a href="">باشگاه مشتریان </a>
      </div>
    </div>
    <div class="footer__item">
      <div class="footer_item">
        <h6>رانندگان</h6>
        <a href="">دانلود اپ سفیر </a>
        <a href="">ثبت نام راننده تاکسی اینترنتی </a>
        <a href="">پرسش‌های متداول سفیران </a>
        <a href="">شرایط و قوانین سفیران </a>
        <a href="">باشگاه سفیران </a>
      </div>
    </div>
    <div class="footer__item">
      <div class="footer_item">
        <h6>کسب و کارها</h6>
        <a href="">پنل سازمانی تپسی </a>
        <a href="">خرید کد اعتبار و تخفیف </a>
        <a href="">دریافت API </a>
      </div>
    </div>
    <div class="footer__item trust-logo">
      <div class="footer__trust-logo">
        <img src="/Assets/images/enemad.png" alt="" />
      </div>
      <div class="footer__trust-logo">
        <img src="/Assets/images/saman.png" alt="" />
      </div>
      <div class="footer__trust-logo">
        <img src="/Assets/images/samt.png" alt="" />
      </div>
    </div>
    <div class="footer-social-container">
      <h6>تپسیـی در شبـکه های اجتـماعی</h6>
      <div class="footer__social">
        <span class="social__icon">
          <svg class="icon face">
            <use xlink:href="/Assets/images/footer-sprite.svg#facebook-f"></use>
          </svg>
        </span>
        <span class="social__icon">
          <svg class="icon insta">
            <use
              xlink:href="/Assets/images/footer-sprite.svg#instagram-fill"
            ></use>
          </svg>
        </span>
        <span class="social__icon">
          <svg class="icon twi">
            <use
              xlink:href="/Assets/images/footer-sprite.svg#twitter-outlined"
            ></use>
          </svg>
        </span>
        <span class="social__icon">
          <svg class="icon lin">
            <use xlink:href="/Assets/images/footer-sprite.svg#linkedin"></use>
          </svg>
        </span>
        <span class="social__icon">
          <svg class="icon tel">
            <use
              xlink:href="/Assets/images/footer-sprite.svg#telegram-plane"
            ></use>
          </svg>
        </span>
      </div>
    </div>
  </div>
</footer>
