<div class="container block">
  <div class="select-heading">
    <span><iconify-icon icon="bx:radio-circle-marked"></iconify-icon></span>
    <!-- <span><iconify-icon icon="lucide:radio"></iconify-icon></span> -->
    <h2>شما جزو کدام یک هستید؟</h2>
  </div>
  <div class="select-type">
    <div class="select-control">
      <input type="radio" name="tapsi" id="safir" />
      <label for="safir">سفیر (راننده)</label>
    </div>
    <div class="select-control">
      <input type="radio" name="tapsi" id="mosafer" />
      <label for="mosafer">مسافر (مشتری)</label>
    </div>
  </div>
</div>
