<section class="services container">
    <h2 class="services__title">سرویس‌های تپسی</h2>
    <div class="services__tabs">
      <a class="tab active" data-tab-target="classic-tab">
        <img
          src="https://tapsi.ir/images/home/cc-classic.png"
          alt="tapsi-classic-icon"
        />
        <p>تپسی کلاسیک</p>
      </a>
      <a class="tab" data-tab-target="tel-tab">
        <img
          src="https://tapsi.ir/images/home/cc-tel.png"
          alt="tapsi-tel-icon"
        />
        <p>تپسی تلفنی</p>
      </a>
      <a class="tab" data-tab-target="line-tab">
        <img
          src="https://tapsi.ir/images/home/cc-line.png"
          alt="tapsi-line-icon"
        />
        <p>تپسی لاین</p>
      </a>
      <a class="tab" data-tab-target="motopeyk-tab">
        <img
          src="https://tapsi.ir/images/home/cc-motopeyk.png"
          alt="motopeyk-icon"
        />
        <p>موتوپیک</p>
      </a>
      <a class="tab" data-tab-target="autopeyk-tab">
        <img
          src="https://tapsi.ir/images/home/cc-autopeyk.png"
          alt="autopeyk-icon"
        />
        <p>اتوپیک</p>
      </a>
      <a class="tab" data-tab-target="plus-tab">
        <img
          src="https://tapsi.ir/images/home/cc-plus.png"
          alt="tapsi-plus-icon"
        />
        <p>تپسی پلاس</p>
      </a>
      <a class="tab" data-tab-target="taxi-tab">
        <img
          src="https://tapsi.ir/images/home/cc-taxi.png"
          alt="tapsi-taxi-icon"
        />
        <p>تاکسی</p>
      </a>
      <a class="tab" data-tab-target="hamyar-tab">
        <img
          src="https://tapsi.ir/images/home/cc-hamyar.png"
          alt="hamyar-icon"
        />
        <p>همیار</p>
      </a>
    </div>
    <div class="container">
      <div class="tab-content active" id="classic-tab">
        <div class="feature__image services ">
          <img src="https://tapsi.ir/images/home/cc-classic.png" alt="" />
        </div>
        <div class="feature__details services">
          <h3 class="feature__title services">تپسی کلاسیک</h3>
          <p class="feature__text services">
            با سرویس کلاسیک تپسی، یک خودروی اختصاصی برای رسیدن به مقصدتان
            دارید. تپسی کلاسیک، راهی سریع و آسان برای سفرهای درون‌شهری در هر
            ساعتی از روز است. در این سرویس، شما امکان تعیین دو یا چند مقصد و
            همچنین توقف در مسیر را دارید.
          </p>
        </div>
      </div>
      <div class="tab-content" id="tel-tab">
        <div class="feature__image services ">
          <img src="https://tapsi.ir/images/home/cc-tel.png" alt="" />
        </div>
        <div class="feature__details services">
          <h3 class="feature__title services">تپسی تلفنی</h3>
          <p class="feature__text services">
            با سرویس کلاسیک تپسی، یک خودروی اختصاصی برای رسیدن به مقصدتان
            دارید. تپسی کلاسیک، راهی سریع و آسان برای سفرهای درون‌شهری در هر
            ساعتی از روز است. در این سرویس، شما امکان تعیین دو یا چند مقصد و
            همچنین توقف در مسیر را دارید.
          </p>
        </div>
      </div>
      <div class="tab-content" id="line-tab">
        <div class="feature__image services">
          <img src="https://tapsi.ir/images/home/cc-line.png" alt="" />
        </div>
        <div class="feature__details services">
          <h3 class="feature__title services">تپسی لاین</h3>
          <p class="feature__text services">
            با سرویس کلاسیک تپسی، یک خودروی اختصاصی برای رسیدن به مقصدتان
            دارید. تپسی کلاسیک، راهی سریع و آسان برای سفرهای درون‌شهری در هر
            ساعتی از روز است. در این سرویس، شما امکان تعیین دو یا چند مقصد و
            همچنین توقف در مسیر را دارید.
          </p>
        </div>
      </div>
      <div class="tab-content" id="motopeyk-tab">
        <div class="feature__image services">
          <img src="https://tapsi.ir/images/home/cc-motopeyk.png" alt="" />
        </div>
        <div class="feature__details services">
          <h3 class="feature__title services">موتوپیک</h3>
          <p class="feature__text services">
            با سرویس کلاسیک تپسی، یک خودروی اختصاصی برای رسیدن به مقصدتان
            دارید. تپسی کلاسیک، راهی سریع و آسان برای سفرهای درون‌شهری در هر
            ساعتی از روز است. در این سرویس، شما امکان تعیین دو یا چند مقصد و
            همچنین توقف در مسیر را دارید.
          </p>
        </div>
      </div>
      <div class="tab-content" id="autopeyk-tab">
        <div class="feature__image services">
          <img src="https://tapsi.ir/images/home/cc-autopeyk.png" alt="" />
        </div>
        <div class="feature__details services">
          <h3 class="feature__title services">اتوپیک</h3>
          <p class="feature__text services">
            با سرویس کلاسیک تپسی، یک خودروی اختصاصی برای رسیدن به مقصدتان
            دارید. تپسی کلاسیک، راهی سریع و آسان برای سفرهای درون‌شهری در هر
            ساعتی از روز است. در این سرویس، شما امکان تعیین دو یا چند مقصد و
            همچنین توقف در مسیر را دارید.
          </p>
        </div>
      </div>
      <div class="tab-content" id="plus-tab">
        <div class="feature__image services">
          <img src="https://tapsi.ir/images/home/cc-plus.png" alt="" />
        </div>
        <div class="feature__details services">
          <h3 class="feature__title services">پلاس</h3>
          <p class="feature__text services">
            با سرویس کلاسیک تپسی، یک خودروی اختصاصی برای رسیدن به مقصدتان
            دارید. تپسی کلاسیک، راهی سریع و آسان برای سفرهای درون‌شهری در هر
            ساعتی از روز است. در این سرویس، شما امکان تعیین دو یا چند مقصد و
            همچنین توقف در مسیر را دارید.
          </p>
        </div>
      </div>
      <div class="tab-content" id="taxi-tab">
        <div class="feature__image services">
          <img src="https://tapsi.ir/images/home/cc-taxi.png" alt="" />
        </div>
        <div class="feature__details services">
          <h3 class="feature__title services">تاکسی</h3>
          <p class="feature__text services">
            با سرویس کلاسیک تپسی، یک خودروی اختصاصی برای رسیدن به مقصدتان
            دارید. تپسی کلاسیک، راهی سریع و آسان برای سفرهای درون‌شهری در هر
            ساعتی از روز است. در این سرویس، شما امکان تعیین دو یا چند مقصد و
            همچنین توقف در مسیر را دارید.
          </p>
        </div>
      </div>
      <div class="tab-content" id="hamyar-tab">
        <div class="feature__image services">
          <img src="https://tapsi.ir/images/home/cc-hamyar.png" alt="" />
        </div>
        <div class="feature__details services">
          <h3 class="feature__title services">همیار</h3>
          <p class="feature__text services">
            با سرویس کلاسیک تپسی، یک خودروی اختصاصی برای رسیدن به مقصدتان
            دارید. تپسی کلاسیک، راهی سریع و آسان برای سفرهای درون‌شهری در هر
            ساعتی از روز است. در این سرویس، شما امکان تعیین دو یا چند مقصد و
            همچنین توقف در مسیر را دارید.
          </p>
        </div>
      </div>
    </div>
  </section>
  <script src="/Js/main.js"></script>