<section
  class="travell container block"
  data-aos="fade-up"
  data-aos-duration="1300"
>
  <div class="travell__title" data-aos="fade-up" data-aos-duration="1300">
    <span>
      <iconify-icon icon="fa6-solid:award"></iconify-icon>
    </span>
    <h2>جوایز رانندگان برتر</h2>
  </div>
  <div class="travell__slides" data-aos="fade-up" data-aos-duration="1300">
    <div class="travell__slide">
      <div class="slide__image">
        <img src="/Assets/images/travell-1.png" alt="takhte-jamshid" />
      </div>
      <div class="slide__details">
        <div class="details__header">
          <span class="badge badge--primary">ویـژه</span>
          <p>سفر سه روزه &bull; اقامت رایگان</p>
        </div>
        <p class="details__title">سفر به تخت جمشید</p>
        <div class="details__icons">
          <div class="details__icon">
            <iconify-icon icon="wpf:like"></iconify-icon>
            <span class="number">12</span>
            <iconify-icon icon="carbon:view"></iconify-icon
            ><span class="number">46</span>
          </div>
          <div class="details__icon">
            <iconify-icon icon="fa:edit"></iconify-icon>
            <iconify-icon icon="fa6-regular:trash-can"></iconify-icon>
          </div>
        </div>
        <div class="avatar-group">
          <div class="avatar">
            <img src="/Assets/images/avatar-1.jpg" alt="junior " />
          </div>
          <div class="avatar">
            <img src="/Assets/images/avatar-2.jpeg" alt=" mid-level" />
          </div>
          <div class="avatar">
            <img src="/Assets/images/avatar-3.jpg" alt="senior" />
          </div>
          <div class="avatar">
            <img src="/Assets/images/avatar-4.jpg" alt="intern" />
          </div>
          <div class="hidden-avatars">+10</div>
          <span>پیشنهاد</span>
        </div>
      </div>
    </div>
    <div class="travell__slide">
      <div class="slide__image">
        <img src="/Assets/images/travell-2.jpg" alt="ramsar" />
      </div>
      <div class="slide__details">
        <div class="details__header">
          <span class="badge badge--primary">ویـژه</span>
          <p>سفر سه روزه &bull; اقامت رایگان</p>
        </div>
        <p class="details__title">سفر به رامسر</p>
        <div class="details__icons">
          <div class="details__icon">
            <iconify-icon icon="wpf:like"></iconify-icon>
            <span class="number">12</span>
            <iconify-icon icon="carbon:view"></iconify-icon
            ><span class="number">46</span>
          </div>
          <div class="details__icon">
            <iconify-icon icon="fa:edit"></iconify-icon>
            <iconify-icon icon="fa6-regular:trash-can"></iconify-icon>
          </div>
        </div>
        <div class="avatar-group">
          <div class="avatar">
            <img src="/Assets/images/avatar-1.jpg" alt="junior " />
          </div>
          <div class="avatar">
            <img src="/Assets/images/avatar-2.jpeg" alt=" mid-level" />
          </div>
          <div class="avatar">
            <img src="/Assets/images/avatar-3.jpg" alt="senior" />
          </div>
          <div class="avatar">
            <img src="/Assets/images/avatar-4.jpg" alt="intern" />
          </div>
          <div class="hidden-avatars">+10</div>
          <span>پیشنهاد</span>
        </div>
      </div>
    </div>
    <div class="travell__slide">
      <div class="slide__image">
        <img src="/Assets/images/travell-3.jpg" alt="baneh" />
      </div>
      <div class="slide__details">
        <div class="details__header">
          <span class="badge badge--secondary">معمولی</span>
          <p>سفر سه روزه &bull; اقامت رایگان</p>
        </div>
        <p class="details__title">سفر به بانه کردستان</p>
        <div class="details__icons">
          <div class="details__icon">
            <iconify-icon icon="wpf:like"></iconify-icon>

            <span class="number">12</span>
            <iconify-icon icon="carbon:view"></iconify-icon
            ><span class="number">46</span>
          </div>
          <div class="details__icon">
            <iconify-icon icon="fa:edit"></iconify-icon>
            <iconify-icon icon="fa6-regular:trash-can"></iconify-icon>
          </div>
        </div>
        <div class="avatar-group">
          <div class="avatar">
            <img src="/Assets/images/avatar-1.jpg" alt="junior " />
          </div>
          <div class="avatar">
            <img src="/Assets/images/avatar-2.jpeg" alt=" mid-level" />
          </div>
          <div class="avatar">
            <img src="/Assets/images/avatar-3.jpg" alt="senior" />
          </div>
          <div class="avatar">
            <img src="/Assets/images/avatar-4.jpg" alt="intern" />
          </div>
          <div class="hidden-avatars">+10</div>
          <span>پیشنهاد</span>
        </div>
      </div>
    </div>
    <div class="travell__slide">
      <div class="slide__image">
        <img src="/Assets/images/travell-4.jpg" alt="chitghar" />
      </div>
      <div class="slide__details">
        <div class="details__header">
          <span class="badge badge--secondary">معمولی</span>
          <p>سفر سه روزه &bull; اقامت رایگان</p>
        </div>
        <p class="details__title">سفر به چیتگر</p>
        <div class="details__icons">
          <div class="details__icon">
            <iconify-icon icon="wpf:like"></iconify-icon>

            <span class="number">12</span>
            <iconify-icon icon="carbon:view"></iconify-icon
            ><span class="number">46</span>
          </div>
          <div class="details__icon">
            <iconify-icon icon="fa:edit"></iconify-icon>
            <iconify-icon icon="fa6-regular:trash-can"></iconify-icon>
          </div>
        </div>
        <div class="avatar-group">
          <div class="avatar">
            <img src="/Assets/images/avatar-1.jpg" alt="junior " />
          </div>
          <div class="avatar">
            <img src="/Assets/images/avatar-2.jpeg" alt=" mid-level" />
          </div>
          <div class="avatar">
            <img src="/Assets/images/avatar-3.jpg" alt="senior" />
          </div>
          <div class="avatar">
            <img src="/Assets/images/avatar-4.jpg" alt="intern" />
          </div>
          <div class="hidden-avatars">+10</div>
          <span>پیشنهاد</span>
        </div>
      </div>
    </div>
  </div>
</section>
